CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions.csv"
CONFIG_ZB_ENABLED=y
CONFIG_ESP32_C6_ZIGBEE_BASE_MANUFACTURER_NAME="Wilhelm Advocaat-Marum"
CONFIG_ESP32_C6_ZIGBEE_BASE_MODEL_IDENTIFIER="ESP32-C6 Zigbee Base"
CONFIG_ESP32_C6_ZIGBEE_BASE_DATE_CODE="20260605"
CONFIG_ESP32_C6_ZIGBEE_BASE_SW_BUILD_ID="0.1.7"
CONFIG_ESP32_C6_ZIGBEE_BASE_APPLICATION_VERSION=8
CONFIG_ESP32_C6_ZIGBEE_BASE_HARDWARE_VERSION=1
